{{ define "layout" }}
<html>
<head>
    <link rel="stylesheet" href="/static/css/uikit/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit/uikit-rtl.min.css">
    <script async src="/static/js/uikit/uikit.min.js"></script>
    <script async src="/static/js/uikit/uikit-icons.min.js"></script>
    <script defer src="/static/js/alpine/cdn.min.js"></script>

    <title>MiniBin</title>
</head>
<body>
    <div class="uk-container uk-margin-top">
        {{ template "content" . }}
    </div>
</body>
</html>
{{ end }}
